.tab-1, .tab-2, .tab-3, .tab-4, .tab-5, .tab-6, .tab-7, .tab-8 {
  cursor: pointer;
  color: #BDC3D4;
  display: inline-block;
  margin-right: 10px;
  user-select: none;
  transition: color 0.3s ease;
}
.tab-1.active, .tab-2.active, .tab-3.active,
.tab-4.active, .tab-5.active, .tab-6.active, .tab-7.active, .tab-8.active {
  color: #7B88A9;
  border-bottom: 1px solid #7B88A9;
}

/* Скрываем блоки через opacity и visibility */
.zero-block-tab {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.1s ease;
  position: absolute; /* Не занимают место, если надо, убрать position */
  top: 0; left: 0; right: 0;
  height: auto; /* зафиксировать, если прыгает */
}

.zero-block-tab.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  position: relative; /* Возвращаем нормальное позиционирование */
}



/*убираем скроллбар */ 

::-webkit-scrollbar {
  width: 0;
}

/*Код для аккордеонов */ 

@media (min-width: 961px) {
.t668 .t-container {
    max-width: calc(100% - 20px);
}
.t668 .t-col {
    max-width: calc(50% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}
}


/*Прелоадер */ 

  #preloader {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
    padding: 0 10px; /* чтобы не был по краям на мелких экранах */
    box-sizing: border-box;
  }

  #preloader img {
    width: 150px;
    height: 100px;
    animation: pulse 2s ease-in-out infinite;
    max-width: 80vw; /* подгонка под небольшие экраны */
    max-height: 80vw;
    object-fit: contain;
  }

  @keyframes pulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.6; transform: scale(1.1); }
  }

  #preloader.hidden {
    opacity: 0;
    pointer-events: none;
  }

  /* Уточнение для маленьких экранов по вертикали: логотип строго по центру */
  @media (max-width: 600px) {
    #preloader {
      padding: 0 20px;
    }
  }
